*{
    box-sizing: border-box;
  }
  .App {
    text-align: center;
  }
  img{
    margin-right: auto;
    margin-left: 20px;
    padding:   5px ;
    min-height: 37px;
    min-width: 150px
  }
  .navLink :hover{
    color: rgb(0, 98, 255);
  }